<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class = "centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
  <tr>
    <th:block th:each="column : ${columns}">
      <th th:text = "${column.value}"></th>
    </th:block>
  </tr>
  <tr>
    <!-- TODO #2: Complete the View Jobs By Category Table. -->

    <td></td> <!-- Feel free to remove or modify this element if necessary. -->
<!--key value pair-->
    <td th:each="category : ${tableChoices}">

      <ul>
        <li th: each="item : ${category.value}">
          <a th:href="@{list/jobs?column=all}">All</a>
        </li>
<!--        item represents 1 entry from stored arraylist(jobData)-->
        <li th:each="item : ${category.value}">
          <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
<!--          @{/list/jobs} generates link, (column=$category.key...)} causes thymeleaf to dynamically -->
<!--          generate query params for URL. paremeters are set by column=, value=
value params determined dynamically by ${category.key} and ${item}
URLS are routed to List controller > listbycolumnvalue handler. handler is looking for params -->


        </li>
      </ul>
    </td>
  </tr>
</table>

</body>
</html>